{
  "printWidth": 120,
  "singleQuote": true,
  "eslintIntegration": true,
  "semi": false,
  "trailingComma": "es5",
  "indent_style": "space",
  "indent_size": 2,
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
